extends layout

block content
  h1#title Receiving data...
  p.lead#body
  p I'm responding with 'Hello Mr. Server'

  script(src='/socket.io/socket.io.js')
  script.
    let socket = io.connect(window.location.origin);
    socket.on('greet', function (data) {
      document.getElementById('title').innerHTML = data.title;
      document.getElementById('body').innerHTML = data.body;
      socket.emit('respond', { body: 'Hello Mr. Server!' });
    });
