extends ../layout

block content
  h2 API Examples
  hr
  .row
    .col-sm-4
      a(href='/api/google-maps', style='color: #fff')
        .panel.panel-default(style='background-color: #20a360')
          .panel-body
            img(src='http://i.imgur.com/Er2ZqgZ.png', height=40)
            |  Google Maps
    .col-sm-4
      a(href='/api/facebook', style='color: #fff')
        .panel.panel-default(style='background-color: #3b5998')
          .panel-body
            img(src='http://i.imgur.com/jiztYCH.png', height=40)
            |  Facebook
    .col-sm-4
      a(href='/api/stripe', style='color: #fff')
        .panel.panel-default(style='background-color: #3da8e5')
          .panel-body
            img(src='http://i.imgur.com/w3s2RvW.png', height=40)
            |  Stripe
    .col-sm-4
      a(href='/api/twilio', style='color: #fff')
        .panel.panel-default(style='background-color: #fd0404')
          .panel-body
            img(src='http://i.imgur.com/mEUd6zM.png', height=40)
            |  Twilio
    .col-sm-4
      a(href='/api/cheerio', style='color: #fff')
        .panel.panel-default(style='background-color: #ff6500')
          .panel-body
            img(src='http://i.imgur.com/RGCVvyR.png', height=40)
            |  Cheerio
    .col-sm-4
      a(href='/api/aviary', style='color: #fff')
        .panel.panel-default(style='background: linear-gradient(to bottom, #1f3d95 0%,#04aade 100%)')
          .panel-body
            img(src='http://i.imgur.com/npBRwMI.png', height=40)
            |  Aviary
    .col-sm-4
      a(href='/api/upload', style='color: #1565c0')
        .panel.panel-default(style='background-color: #fff')
          .panel-body
            img(src='http://i.imgur.com/UPTzIdC.png', height=40)
            |  File Upload
