.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/')
        i.fa.fa-cube
        | Cloudsolutely
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li(class=(title === 'New Page - Admin') ? 'active' : undefined)
          a(href='/admin/new-page') New Page
        li(class=(title === 'Content - Admin') ? 'active' : undefined)
          a(href='/admin/content') Content
        li(class=(title === 'General - Admin') ? 'active' : undefined)
          a(href='/admin/general') General
        li(class=(title === 'Navigation - Admin') ? 'active' : undefined)
          a(href='/admin/navigation') Navigation
        li
          a(href='/', target='_blank')
            span.fa.fa-external-link
            | View Site
      ul.nav.navbar-nav.navbar-right
        if !user
          li(class=(title === 'Login') ? 'active' : undefined)
            a(href='/login') Login
          li(class=(title === 'Create Account') ? 'active' : undefined)
            a(href='/signup') Create Account
        else
          li.dropdown(class=(title === 'Account Management') ? 'active' : undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              if user.profile.picture
                img(src=user.profile.picture)
              else
                img(src=user.gravatar(60))
              span= user.profile.name || user.email || user.id
              i.caret
            ul.dropdown-menu
              li
                a(href='/account') My Account
              li.divider
              li
                a(href='/logout') Logout
